name: Release Go Binary

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
          cache: true

      - name: Build
        run: |
          go build -v -o photo-organiser

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2
        with:
          files: photo-organiser
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
